{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "_utils": "./utils",
          "_01": "./01"
        }
      }
    ]
  ]
}
